@media only screen and (min-width: 1800pt) {
 
    #sidebar { width: 15%; }
        
    #viewer {
        
        display: block;
        left: 15%;
        width: 85%;
        
    }
       
}

@media only screen and (max-width: 1800pt) {

    #sidebar { width: 20%; }
        
    #viewer {
        
        display: block;
        left: 20%;
        width: 80%;
        
    }
    
}

@media only screen and (max-width: 1000pt) {

    #sidebar { width: 40%; }
        
    #viewer {
        
        display: block;
        left: 40%;
        width: 60%;
        
    }
    
}

@media only screen and (max-width: 600pt) {
    
    #sidebar { 
        float: none; 
        width: 100%;
        height: 100%;
    }
    
    #viewer { display: none; }        
    
}

/*!*** GENERAL ***/

* { 
 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    
}

html, body {
    margin: 0;
    padding: 0;
}

a { 
    
    text-decoration: none; 
    color: #000; 
    font-weight: normal;
}

/*!*** MAIN COMPONENTS ***/

#container {
    
    width: 100%;
    height: 100%;        
    
}

#sidebar.ipados,
#sidebar.other-platform {
    
    float: left;
    overflow: scroll;
    height: 100vh;
        
}

#viewer {

    position: fixed;     
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

#video {
    display: none;
    padding: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
}

/*!*** DIRECTORY LISTING ***/

h1 { 
    margin: 0;
    padding: .5em 1em 0em 10pt; 
    font-size: 2em; 
    line-height: 1em; 
}

ul { 
    list-style-type: none; 
    padding: 0;
    margin-top: 10pt;
    margin-bottom: 10pt;
}



/*!*** DIRECTORY ITEM ***/

li {
    padding: 8pt 10pt;
}

li.selected {
    
    background-color: #808080;
    
}

li.selected a.directory-item {
    
    color: #fff;
}

/*!*** BUTTON ***/

div.list-button {
    
    position: relative;
    height: 48pt;
    
}

/*!*** ICON ***/

div.list-button div.icon {
    
    position: absolute;
    left: 0pt;
    top: 0pt;
    
    width: 44pt;
    height: 44pt;
    
    margin-right: 6pt;
    padding: 0;
    border-radius: 8pt;
    
    font-size: 0.9em;
    line-height: 4.3em;
    font-weight: bold;
    
    text-align: center;
    text-transform: uppercase;
    
    color: #000;
    background-color: #efefef;
    
    border: 2pt solid black;
    
}


li.directory-empty div.list-button div.icon,
li.back-button div.list-button div.icon,
li.directory div.list-button div.icon {
    
    background-color: #fff;
    
}

li.back-button div.list-button div.icon {
    
    font-size: 1.5em;
    line-height: 2.3em;
}

/*!*** NUMBER ***/

div.list-button div.number {
    
    position: absolute;
    left: 56pt;
    top: 2pt;
    
    font-weight: bold;
    font-size: 0.8em;
    color: #999;
    
}

li.selected div.list-button div.number {
    
    color: #ddd;
    
}

/*!*** TITLE ***/

div.list-button div.title {
    
    position: absolute;
    left: 56pt;
        
}

li.directory-empty div.list-button div.title {   
    color: #999;
}

li.directory-empty.selected div.list-button div.title {   
    color: #fff;
}

li.with-number div.list-button div.title {
    
    top: 14pt;
    height: 30pt;
    overflow: hidden;

}

li.without-number div.list-button div.title {
    
    top: 4pt;
    height: 40pt;
    overflow: hidden;
    
}

li.without-number div.list-button div.title a.directory-item {
    
    display: table-cell;
    vertical-align: middle;
    height: 40pt;
    
}

div.list-button div.title a.directory,
div.list-button div.title a.back-link {
    
    font-weight: bold;
    
}

div.list-button div.title a.directory-item:hover {
    
    text-decoration: underline;
    
}

/*!*** YOUTUBE LINKS ***/

a.youtube { 
    
    position: relative;
    top: -2pt;
    margin-left: 8pt;
    padding: 2pt 4pt;
    border-radius: 4pt;
    
    font-size: 0.6em;
    font-weight: bold;
    
    color: #fff;
    background-color: #FC0D1B;
    
}

/*!*** ERROR ***/

div.error {
    
    padding: 10pt;
    
}